<h1 id="blog-index-heading" class="card card-header bg-dark text-light text-center mb-5">Comments</h1>
<div class="container">
  <% if @comment.exists? %>
    <%= render partial: 'dashboard/comment', collection: @comment %>
  <%else%>
    <h3>There are no posts to show</h3>
  <%end%>
</div>

