<div class="reply-field" style="margin-left:5%">

  <div class="card w-75 my-3 shadow p-3 mb-3 rounded">
    <div class="card-body">
      <h5 class="card-title display-5 font-weight-bold"><%= reply.user.first_name %> Replied: </h5>
      <p class="card-text mx-3">" <%= reply.content %> "</p>
    </div>
  </div>

</div>


